tabs:
  general:
    display: 'General'
    sections:
      -
        display: 'Subscriber'
        fields:
          -
            handle: email_field
            field:
              display: 'Email Field'
              instructions: 'The form field that contains the email of the subscriber.'
              type: statamic_form_fields
              validate: 'required'
              localizable: true
              width: 50
          -
            handle: consent_field
            field:
              display: 'Consent Field'
              instructions: 'The form field that contains the consent of the subscriber.'
              type: statamic_form_fields
              localizable: true
              width: 50
      -
        display: 'Lists'
        fields:
          -
            handle: list_mode
            field:
              display: 'List Mode'
              instructions: 'How subscribers are added to lists.'
              type: button_group
              default: fixed
              validate: 'required'
              localizable: true
              options:
                fixed: 'Fixed'
                dynamic: 'Dynamic'
                both: 'Both'
          -
            handle: list_ids
            field:
              display: 'Fixed Lists'
              instructions: 'The ActiveCampaign lists all subscribers are added to.'
              type: activecampaign_list
              validate: 'required_if:list_mode,fixed,both'
              localizable: true
              if:
                list_mode: 'contains_any fixed, both'
          -
            handle: list_fields
            field:
              display: 'Dynamic Lists'
              instructions: 'Map form fields to ActiveCampaign lists. When the field value is truthy (or matches the subscription value), the subscriber is added to that list.'
              type: grid
              mode: table
              listable: hidden
              fullscreen: false
              localizable: true
              validate: 'required_if:list_mode,dynamic,both'
              add_row: 'Add List Field'
              if:
                list_mode: 'contains_any dynamic, both'
              fields:
                -
                  handle: subscription_field
                  field:
                    display: 'Form Field'
                    type: statamic_form_fields
                    validate: required
                -
                  handle: activecampaign_list_id
                  field:
                    display: 'ActiveCampaign List'
                    type: activecampaign_list_select
                    validate: required
                -
                  handle: subscription_value
                  field:
                    display: 'Subscription Value'
                    instructions: 'The specific option value that triggers subscription to this list.'
                    type: subscription_value
          -
            handle: tag_ids
            field:
              display: 'Tags'
              instructions: 'The ActiveCampaign tags you want to add to the subscriber.'
              type: activecampaign_tag
              localizable: true
      -
        display: 'Field Mapping'
        fields:
          -
            handle: merge_fields
            field:
              display: 'Merge Fields'
              instructions: 'Add the form fields you want to map to ActiveCampaign fields.'
              type: grid
              mode: table
              listable: hidden
              fullscreen: false
              localizable: true
              width: 100
              add_row: 'Add Merge Field'
              fields:
                -
                  handle: statamic_field
                  field:
                    display: Form Field
                    type: statamic_form_fields
                    validate: required
                -
                  handle: activecampaign_field
                  field:
                    display: 'Merge Field'
                    type: activecampaign_merge_fields
                    validate: required
