tabs:
  general:
    display: 'General'
    sections:
      -
        fields:
          -
            handle: email_field
            field:
              display: 'Email Field'
              instructions: 'The form field that contains the email of the subscriber.'
              type: statamic_form_fields
              field_filter: email
              validate: 'required'
              localizable: true
              width: 50
          -
            handle: consent_field
            field:
              display: 'Consent Field'
              instructions: 'The form field that contains the consent of the subscriber.'
              type: statamic_form_fields
              field_filter: toggle
              localizable: true
              width: 50
          -
            handle: list_ids
            field:
              display: 'Lists'
              instructions: 'The ActiveCampaign lists you want to add the subscriber to.'
              type: activecampaign_list
              validate: 'required'
              localizable: true
              width: 50
          -
            handle: tag_ids
            field:
              display: 'Tags'
              instructions: 'The ActiveCampaign tags you want to add to the subscriber.'
              type: activecampaign_tag
              localizable: true
              width: 50
          -
            handle: merge_fields
            field:
              display: 'Merge Fields'
              instructions: 'Add the form fields you want to map to ActiveCampaign fields.'
              type: grid
              mode: table
              listable: hidden
              fullscreen: false
              localizable: true
              width: 100
              add_row: 'Add Merge Field'
              fields:
                -
                  handle: statamic_field
                  field:
                    display: Form Field
                    type: statamic_form_fields
                    show_field_type: true
                    validate: required
                -
                  handle: activecampaign_field
                  field:
                    display: 'Merge Field'
                    type: activecampaign_merge_fields
                    validate: required
