tabs:
  general:
    display: 'General'
    sections:
      -
        display: 'Subscriber'
        fields:
          -
            handle: email_field
            field:
              display: 'Email Field'
              instructions: 'The form field that contains the email of the subscriber.'
              type: statamic_form_fields
              validate: 'required'
              localizable: true
              width: 50
          -
            handle: consent_field
            field:
              display: 'Consent Field'
              instructions: 'The form field that contains the consent of the subscriber.'
              type: statamic_form_fields
              localizable: true
              width: 50
      -
        display: 'Lists'
        fields:
          -
            handle: list_mode
            field:
              display: 'List Mode'
              instructions: 'How subscribers are added to lists.'
              type: button_group
              default: fixed
              validate: 'required'
              localizable: true
              options:
                fixed: 'Fixed'
                dynamic: 'Dynamic'
                both: 'Both'
          -
            handle: list_ids
            field:
              display: 'Fixed Lists'
              instructions: 'The ActiveCampaign lists all subscribers are added to.'
              type: activecampaign_list
              validate: 'required_if:list_mode,fixed,both'
              localizable: true
              if:
                list_mode: 'contains_any fixed, both'
          -
            handle: list_fields
            field:
              display: 'Dynamic Lists'
              instructions: 'Map form fields to ActiveCampaign lists. For multi-option fields (checkboxes, radio, select), map each value to a list. For toggle fields, select a single list.'
              type: replicator
              localizable: true
              validate: 'required_if:list_mode,dynamic,both'
              button_label: 'Add List Field'
              if:
                list_mode: 'contains_any dynamic, both'
              sets:
                main:
                  display: 'List Mapping'
                  sets:
                    list_mapping:
                      display: 'List Mapping'
                      fields:
                        -
                          handle: subscription_field
                          field:
                            display: 'Form Field'
                            type: statamic_form_fields
                            validate: required
                        -
                          handle: list_mappings
                          field:
                            display: 'List Mappings'
                            type: list_field_mappings
          -
            handle: tag_ids
            field:
              display: 'Tags'
              instructions: 'The ActiveCampaign tags you want to add to the subscriber.'
              type: activecampaign_tag
              localizable: true
      -
        display: 'Field Mapping'
        fields:
          -
            handle: merge_fields
            field:
              display: 'Merge Fields'
              instructions: 'Add the form fields you want to map to ActiveCampaign fields.'
              type: grid
              mode: table
              listable: hidden
              fullscreen: false
              localizable: true
              width: 100
              add_row: 'Add Merge Field'
              fields:
                -
                  handle: statamic_field
                  field:
                    display: Form Field
                    type: statamic_form_fields
                    validate: required
                -
                  handle: activecampaign_field
                  field:
                    display: 'Merge Field'
                    type: activecampaign_merge_fields
                    validate: required
